## <b>PANDAS DATA ANALYSIS</b>

In [1]:
import sys
!{sys.executable} -m pip install pandas --upgrade

Requirement already satisfied: pandas in c:\users\veronica\appdata\local\programs\python\python312\lib\site-packages (2.2.1)
Collecting pandas
  Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\veronica\appdata\roaming\python\python312\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\veronica\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\veronica\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\veronica\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\veronica\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB 660.6 kB/s eta 0:00:18
   ---------------------------------------- 0.1/11.5 MB 1.3 MB/s eta 0:00:09
   - -------------------------------------- 0.5/11.5 MB 3.9 MB/s eta 0:00:03
   ----- ---------------------------------- 1.7/11.5 MB 9.7 MB/s eta 0:00:02
   ----------- ---------------------------- 3.2/11.5 MB 14.6 MB/s eta 0:00:01
   -------------- ------------------------- 4.2/11.5 MB 15.6 MB/s eta 0:00:01
   ----------------- ---------------------- 5.0/11.5 MB 17.7 MB/s eta 0:00:01
   ----------------------------- ---------- 8.6/11.5 MB 23.8 MB/s eta 0:00:01
   ------------------------------- -------- 9.0/11.5 MB 24.0 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 38.6 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 38.6 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 38.6 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 38.6 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 38.6 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 38.6 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 38.6 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 38.6 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 16.0 MB/s eta 0:00:00
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.1
    Uninstalling pandas-2.2.1:
      Successfully uninstalled pandas-2.2.1
Successfully installed pandas-2.2.2

  WARNING: Failed to remove contents in a temporary directory 'C:\Users\Veronica\AppData\Local\Programs\Python\Python312\Lib\site-packages\~andas.libs'.
  You can safely remove it manually.
  WARNING: Failed to remove contents in a temporary directory 'C:\Users\Veronica\AppData\Local\Programs\Python\Python312\Lib\site-packages\~andas'.
  You can safely remove it manually.

In [2]:
import pandas as pd

We'll be analyzing and operating on data from a CSV file.

In [5]:
from urllib.request import urlretrieve

urlretrieve('https://gist.githubusercontent.com/aakashns/28b2e504b3350afd9bdb157893f9725c/raw/994b65665757f4f8887db1c85986a897abb23d84/countries.csv', 
            'countries.csv');

('countries.csv', <http.client.HTTPMessage at 0x24069a648c0>)

We'll load the data from the CSV file into a pandas dataframe.

In [6]:
countries_df = pd.read_csv('countries.csv')
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775